.header-card {
    transition: transform 0.3s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  
.header-card:hover {
    transform: scale(.85);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

.custom-nav-link {
    width: 100%;
    text-align: center;  
  
  }


.navbar-toggler {
    border-color: white !important;
  }
  

.navbar-light .navbar-toggler-icon {
  background-image: url("../../Assets/svg/list.svg") !important;
}

.navbar{
  border-color: #35240f;
	background: #603200;
	background: -moz-linear-gradient(left, #603200 0%, #190c00 88%, #2b1212 100%);
	background: -webkit-linear-gradient(left,#603200 0%,#190c00 88%,#2b1212 100%);
	background: linear-gradient(to right, #603200 0%, #190c00 88%, #2b1212 100%);
}